.skills{
    border-radius: 30px;
    border: solid 1px black;
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 80%;
    height:22vw;
    margin-top: 7%;
    background-color: #0b426d;
}
.js{
   border-radius: 20px;
   display: inline-block; 
   position: absolute;
   left: 30%;
   transform: translateX(-50%);
   background-repeat: no-repeat;
   background-image: url(../imagem/skill_3.png);
   width: 20vw;
   height: 16vw;
   object-fit:cover;
   background-size: 12vw 10vw;
   background-position: center;
   background-position-y:center;
  /* background-color:rgb(58, 85, 240);*/
   margin-top: 10%;
}
.html{
   /* border:solid 1px black;*/
    border-radius: 20px;
    display: inline-block; 
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-image: url(../imagem/skills_1.jpg);
    width: 20vw;
    height: 16vw;
    object-fit:cover;
    background-size: 12vw 10vw;
    background-position: center;
    background-position-y:center;
   /* background-color:rgb(58, 85, 240);*/
     margin-top: 10%;
 }
 .css{
    /* border:solid 1px black;*/
    border-radius: 20px;
    display: inline-block; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-image: url(../imagem/skills_2.png);
    width: 20vw;
    height: 16vw;
    object-fit:cover;
    background-size: 12vw 10vw;
    background-position: center;
    background-position-y:center;
  /*  background-color:rgb(58, 85, 240);*/
    margin-top: 10%;
 }
 
.h2_skills{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-size: min(150px, 6vw);
    color:white;
    margin-top: 0%;
    
  
}
/* h2{
     position: fixed;
     display: inline-block;
     font-size: min(25px, 3vw); 

 }*/
 .skill_1{
     position:absolute;
     left: 50%;
     transform:translateX(-50%);
     margin-top:-5px;
     color:white;
 }
 .skill_2{
     position:absolute;
     left: 50%;
     transform:translateX(-50%);
     margin-top:-5px;
     color:white;
}
.skill_3{
     position:absolute;
     left: 50%;
     transform:translateX(-50%);
     margin-top:-5px;
     color:white;
}