.sobre{
   
    display:block;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    margin-top:5%;
    width:60vw;
    height:max(65%, 20vw);
    color:white;
  
   
}
.sobre_{
    display:inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color:white;
    margin-top:1%;
    font-size: min(50pt, 5vw);
    

}
p{
    display:inline-block;
    font-size:max(11pt,2vw)
}